.weather-app{
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border: 1px solid #847C7C;
    border-radius: 15px;
    font-family: 'Koh Santepheap', cursive;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 600px;
}

.head{
    display:block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.today{
    padding-bottom: 20px;
    padding-top: 20px;
}

.weather-icon img{
    display:block;
    margin-left: 50px;
}

.head-data{
    margin-top:20px;
}

.deg-sky-today{
    display: flex;
    list-style-type: none;
    margin-bottom: -5px;
    text-transform: capitalize;
}

.weather-description{
    list-style-type: none;
    text-transform: capitalize;
}

.current-temperature .active{
    color: #000000;
    cursor:default;
    text-decoration: none;
}

.today-stats{
    list-style-type: none;
}

.forecast{
    display:block;
    margin: 0 auto;
    width: 90%;
}

.forecast-day{
    height: 80px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}

.forecast-date{
    height: 80px;
    padding-top: 30px;
}

.forecast-temperature{
    padding-top: 20px;
    text-align: center;
}

h3{
    font-size: 20px;
}

.forecast-date{
    font-size: 15px;
}

.find{
    padding-top: 10px;
    text-align: center;
}

input{
    text-align: center;
    width: 100%;
}

h4{
    display: block;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}

